*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    /* 1rem = 10px */
    color: white;
    font-weight: normal;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

:root {
    --text-size-medium: 1.6rem;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: white;
}


.header {
    padding: 4rem 11rem 4rem 8rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 10;
}


.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header__nav a {
    font-size: 16px;
}


.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__button {
    margin-left: 55.3rem;
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    font-size: var(--text-size-medium);
}

.main-display__header {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 140%;
    max-width: 76rem;
    margin-bottom: 5rem;
}

.main-display__timer {
    display: flex;
    margin-bottom: 7.6rem;

}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}

.timer__text {
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 140%;
    opacity: 0.4;
}

.main-display__button {
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display .container {
    position: relative;
    z-index: 10;
    padding-bottom: 22.8rem;
}

.main-display {
    padding-top: 27rem;
}


.work {
    padding-top: 20rem;
    padding-bottom: 24.3rem;
}

.work__wrap {
    display: flex;
}

.work__img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}

.work__header {
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.work__description {
    font-size: var(--text-size-medium);
    line-height: 160%;
}

.work__text {
    max-width: 63.6rem;
    margin-top: 6.9rem;
}

.process {
    padding-bottom: 20rem;
    position: relative;
}

.process__img {
    width: 9rem;
    height: 9rem;
}

.process .process__img {
    transform: rotate(45deg);
}

.process__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom: 4.8rem;
    padding-top: 1rem;
}

.process__title {
    display: flex;
}

.process__description {
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;
    max-width: 41.1rem;
    margin-bottom: 8rem;
}

.process__work {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
    margin-bottom: 6.5rem;
}

.process__text {

    font-size: 1.4rem;
    line-height: 160%;
    opacity: 0.5;

}


.process__columns {
    display: flex;

}

.process__columns::after {
    content: '';
    display: block;
    width: 130rem;
    height: .2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
}

.process__item {
    max-width: 30.6rem;
}

.command__header {
    margin-bottom: 7rem;
}

.command__wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 11rem;
    padding-right: 11rem;
}

.command {
    padding-bottom: 20rem;
}

.command__img {
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
    border-radius: 50%;
}

.command__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.command__name {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 140%;
    margin-bottom: 1rem;
}

.command__professional {
    font-size: var(--text-size-medium);
    line-height: 160%;
    margin-bottom: 3rem;
}

.command__link {
    font-size: var(--text-size-medium);
    line-height: 150%;
    border: 1px solid white;
}

.assembly {
    padding-bottom: 24.4rem;

}

.assembly__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.assembly__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom: 3rem;
}

.assembly__description {
    font-size: var(--text-size-medium);
    line-height: 160%;
    margin-bottom: 4.52rem
}

.assembly__button {
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-weight: 700;
    font-size: var(--text-size-medium);
    line-height: 150%;
    margin-bottom: 5.8rem
}

.assembly__socials {
    display: flex;

}

.assembly__item {
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assembly__item img {
    width: 50%;
    height: 50%;
}

.assembly__item:not(:last-child) {
    margin-right: 3rem;
}

.block__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal__inner {
    width: 66.5rem;
    padding: 9rem 9.5rem;
    background: #2C2C2C;
    text-align: center;
    position: relative;
}

.modal__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom: 1rem;
}

.modal__subheader {
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;
    margin-bottom: 2.8rem;
}

.modal__item {
    height: 4.4rem;

}

.modal__elements {
    margin: 0 auto 3.2rem auto;
    width: 45.4rem;

}

.modal__input {
    height: 100%;
    width: 100%;
    background-color: grey;
    border-radius: 5rem;
    font-size: 1.4rem;
    line-height: 160%;
    color: white;
    opacity: 0.8;
    padding: 0 3rem;
}

.modal__item:not(:last-child){
    margin-bottom: 1.8rem;
}

.modal__close{
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.noscroll{
    overflow: hidden;
    height: 100%;
}